Service References/CallbackService/CallbackService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CallbackService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CallbackService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Command">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Command" nillable="true" type="tns:Command" />
</xs:schema>