Service References/CallbackService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CallbackService" />
  <xs:element name="SendNewCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallbackService" minOccurs="0" name="cmd" nillable="true" type="q1:Command" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNewCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCommandArrived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CallbackService" minOccurs="0" name="cmd" nillable="true" type="q2:Command" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>