Service References/MyWcfService/Manager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Manager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://151.248.112.29:51035/Manager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://151.248.112.29:51035/Manager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManager_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IManager_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_GetCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommand" />
  </wsdl:message>
  <wsdl:message name="IManager_GetCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_SendDataToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDataToServer" />
  </wsdl:message>
  <wsdl:message name="IManager_SendDataToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDataToServerResponse" />
  </wsdl:message>
  <wsdl:portType name="IManager">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/TestConnection" message="tns:IManager_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/TestConnectionResponse" message="tns:IManager_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/GetCommand" message="tns:IManager_GetCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/GetCommandResponse" message="tns:IManager_GetCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDataToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/SendDataToServer" message="tns:IManager_SendDataToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/SendDataToServerResponse" message="tns:IManager_SendDataToServer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManager" type="tns:IManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IManager/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommand">
      <soap:operation soapAction="http://tempuri.org/IManager/GetCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDataToServer">
      <soap:operation soapAction="http://tempuri.org/IManager/SendDataToServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Manager">
    <wsdl:port name="BasicHttpBinding_IManager" binding="tns:BasicHttpBinding_IManager">
      <soap:address location="http://151.248.112.29:51035/Manager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>